:root {
    --main-text-color: #121420;
    --main-body-color: #597081;
    --main-background-color: #FFFFFF;
}

nav {
    display:flex;
    justify-content:center;
    width:100%;
    gap:2%;
}

a {
    text-decoration: none;
    font-size:1em;
    display:block;
    background-color: lightblue;
    border:black solid 2px;
    padding:2%;
    border-radius:10%;
}

a:hover {
    color:blue;
    background-color: rgb(178, 230, 248);
}

* {
    color:var(--main-text-color);
}

header {
    text-align:center;
    width:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

body {
    min-height:95vh;
    width:95vw;
    background-color: var(--main-body-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

main {
    background-color: var(--main-background-color);
    min-width:50%;
    max-width:100%;
    min-height:50%;
    border:#FFFFFF solid;
    border-radius:4%;
    font-size:2em;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content: space-between;
}

.project {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}
h3 {
    align-self:normal;
}
.project > p {
    font-size:.75em;
}

.project > a {
    border-radius: 0%;
}

header {
    text-align:center;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}